@use 'sass:color';
@import '~bootstrap/scss/functions';
@import '../../functions';
@import '../variables/dark_dimmed_variables';
@import '~bootstrap/scss/variables';
@import '../../flist_derived';
@import '../variables/default_derived';

$white-color: $black;
$red-color: #fe4949;
$green-color: #00cc66;
$blue-color: #548ce1;
$yellow-color: #f2dc5d;
$purple-color: #cc66ff;
$cyan-color: #5ad8ed;
//$black-color: $;
$brown-color: #bf7c60;
$pink-color: #ff6699;
$gray-color: $gray-600;
$orange-color: #ee8822;

// Apply variables to theme.
@import '../chat';
.colorblindMode {
  @import '../colorblind';
  @import '../../rising';

  @each $varName, $value in $risingVariables {
    --#{$varName}: #{$value};
  }
}

$genders: (
  'shemale': $purple-color,
  'herm': #ac92f0,
  'none': $gray-500,
  'female': $pink-color,
  'male': $blue-color,
  'male-herm': #007fff,
  'transgender': $orange-color,
  'cunt-boy': $green-color
);

@each $gender, $color in $genders {
  .gender-#{$gender},
  .gender-icon-#{$gender} {
    --gender-color: #{$color};
  }

  .gender-icon-#{$gender},
  .message-event .gender-icon-#{gender} {
    color: var(--gender-color);
  }

  .message-event .gender-#{$gender} {
    --gender-color: #{color.scale($color, $lightness: 5%)};
  }
}

:root {
  color-scheme: dark;
}
